@import url('https://fonts.googleapis.com/css2?family=Lato&family=Permanent+Marker&display=swap');

html {
  font-size: 10px;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  /* padding: 1em 1em 0; */
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  background-color: #f1f1f0;
}

footer {
  align-self: stretch;
  text-align: center;
  margin-top: auto;
  background-color: #fff;
}

input[type="text"] {
  font-size: inherit;
}

label, input[type="checkbox"], input[type="radio"] {
  cursor: pointer;
}

button {
  align-self: center;
  border: none;
  background: none;
  width: 1.5em;
  height: 1.5em;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* ======== */
/* WRAPPERS */
/* ======== */

.center {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.container {
  flex: 0 1 30em;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  background-color: #fff;
  box-shadow: 0 1em 1.5em rgba(0, 0, 0, 0.05);
}

/* ========== */
/* PAGE TITLE */
/* ========== */

.title {
  text-align: center;
  color: #111;
}

.title h1 {
  font-size: 2.5em;
  font-family: 'Permanent Marker', cursive;
}

/* ============= */
/* INPUT SECTION */
/* ============= */

.input {
  display: flex;
}

.input > input {
  flex: 1 1 auto;
  margin-right: 0.5em;
  padding: 0.25em;
}

.btn-new {
  background-image: url('img/add.png');
}

.btn-new:hover {
  opacity: 0.75;
}

/* ================= */
/* SELECTORS SECTION */
/* ================= */

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5em 1em;
  margin-top: 1em;
  /* background-color: gray; */
}

.filters > * {
  margin-right: 0.6em;
  cursor: pointer;
}

.filters:last-child {
  margin-right: 0;
}

/* =============== */
/* LISTING SECTION */
/* =============== */

.listing ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0.5em 0;
  padding-left: 0;
}

.listing li {
  display: flex;
  align-items: center;
  margin: 0.25em 0;
  padding: 0.25em 0;
  /* background-color: rgb(163, 153, 245); */
}

.listing input[type="checkbox"] {
  margin-right: 0.5em;
}

.info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.listing input[type="text"] {
  /* margin-right: 0.5em; */
  flex-grow: 1;
}

.listing button {
  flex-shrink: 0;
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 0.35em;
}

.btn-info { background-image: url('img/info.png'); }
.btn-edit { background-image: url('img/pencil.png'); }
.btn-del { background-image: url('img/trash.png'); }

.listing time {
  font-size: 0.75em;
}

/* ============ */
/* OTHER STYLES */
/* ============ */

.complete {
  text-decoration: line-through;
}

.hidden {
  display: none !important;
}