html {
  font-size: 10px;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

footer {
  align-self: stretch;
  text-align: center;
  margin-top: auto;
  background-color: rgb(203, 235, 152);
}

input[type="text"] {
  font-size: inherit;
}

label, input[type="checkbox"], input[type="radio"] {
  cursor: pointer;
}

/* ======== */
/* WRAPPER  */
/* ======== */

.wrapper {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  background-color: rgb(231, 166, 210);
}

/* ========== */
/* PAGE TITLE */
/* ========== */

.title {
  text-align: center;
}

.title h1 {
  font-size: 2.5em;
}

/* ============= */
/* INPUT SECTION */
/* ============= */

.input {
  display: flex;
}

.input > input {
  flex: 1 1 auto;
}

/* ================= */
/* SELECTORS SECTION */
/* ================= */

.filters {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  margin-top: 1em;
  /* background-color: gray; */
}

.filters > * {
  margin-right: 1em;
  cursor: pointer;
}

.filters:last-child {
  margin-right: 0;
}

/* =============== */
/* LISTING SECTION */
/* =============== */

.listing ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0.5em 0;
  padding-left: 0;
}

.listing li {
  display: flex;
  align-items: center;
  margin: 0.25em 0;
  padding: 0.25em 0;
  background-color: rgb(163, 153, 245);
}

.listing input[type="text"] {
  flex-grow: 1;
}

.info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.btn-edit-task {
  margin-left: auto;
}

.listing time {
  font-size: 0.75em;
}

/* ============ */
/* OTHER STYLES */
/* ============ */

.complete {
  text-decoration: line-through;
}

.hidden {
  display: none !important;
}